{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Canteen{% endblock %}

{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/foodbg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Canteen</h1>
            <span class="subheading">Order on the go!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">
        <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
              <strong>{{ message }}</strong>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='order') }}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}
